body {
    /* to allow for the footer */
    padding-bottom: 1.85em; 
}
.footer {
  background: #f4900b;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
img {
    width: auto !important;
}
blockquote {
    padding: 0 1.33em !important ;
}
blockquote > ul {
    margin-left: -1.33em;
}
.source {
    width: 100%;
    table-layout: fixed;
}
.source ul {
    margin-top: 0;
}
.source td:first-child {
    text-align: left;
}
.source td:last-child {
    text-align: right;
}
.yields {
    text-align:left;
}
.yields h5 {
    margin-bottom: 0;
}
